{% extends 'cart/base.html' %}

{% block main_area %}
    <div class="margin">
        <div class="card">
            <div class="row">
                <div class="col-md-8 cart">
                    <div class="title">
                        <div class="row">
                            <div class="col"><h4><b>장바구니</b></h4></div>
                            <div class="col align-self-center text-right text-muted">총 상품(3)</div>
                        </div>
                    </div>
                    <div class="row border-top border-bottom">
                        <div class="row main align-items-center">
                            {% for k in pro %}
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-3">
                                        <img class="img-fluid" src="{{ k.head_image.url }}">
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row text-muted">{{ k.league_name }}</div>
                                        <div class="row"><a href="{{ k.get_absolute_url }}">{{ k.title }}</a></div>
            <!--                            <div class="row">(사이즈) :{{ k.L }}  <br>(마킹) :{{ k.없음 }}</div>-->
                                    </div>
                                    <div class="col-md-3">&#8361;{{ k.base_price|floatformat:"-2" }}원 <span class="close">&#10005;</span></div>
                                    <hr>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="back-to-shop"><a href="/">&leftarrow; <span class="text-muted">Back to shop</span></a></div>
                </div>
                <div class="col-md-4 summary">
                    <div><h5><b>국내 배송 상품</b></h5></div>
                    <hr>
                    <div class="row">
                        <div class="col" style="padding-left:0;">총 상품 금액</div>
                        <div class="col text-right">&#8361; {{ k.total_price }}</div>
                    </div>
                    <form>
                        <p>배송비</p>
                        <select><option class="text-muted">일반배송 - &#8361; 3000 </option>
                        <option>빠른배송 - &#8361; 5000 </option>
                        <option>퀵 배송 - &#8361; 7000 </option>
                        </select>

                        <p>쿠폰</p>
                        <select><option class="text-muted">사용가능 쿠폰</option>
                        <option>첫구매한정 할인쿠폰 10% </option>
                        <option>아시안게임 축구 금메달 축하쿠폰 20%</option>

                        </select>


                        <p>적립금</p>
                        <p><h1>현재 적립 금액 :&#8361; 11,700 </h1></p>
                        <input id="number" placeholder="&#8361 ">
                    </form>
                    <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
                        <div class="col">총 금액</div>
                        <div class="col text-right">&#8361; 290,000 </div>
                    </div>
                    <button class="btn"><a href="/payment/">전체상품주문</a></button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
