{% extends 'ask/base.html' %}

{% block main_area %}
    <section>
        <div class="board_wrap">
            <div class="board_title">
                <strong>문의게시판</strong>
                <p>상품관련 질문을 올려주세요</p>
            </div>
            <div class="board_list_wrap">
                <div class="board_list">
                    <div class="top">
                        <div class="num">번호</div>
                        <div class="title">제목</div>
                        <div class="writer">글쓴이</div>
                        <div class="date">작성일</div>
                    </div>
                    {% for p in asks %}
                    <div>
                        <div class="num">{{ p.pk }}</div>
                        <div class="title">
                            <a href="{{ p.get_absolute_url }}">{{ p.title }}</a>
                        </div>
                        <div class="writer">{{ p.author | upper }}</div>
                        <div class="date">{{ p.created_at|date:'Y-m-d' }}</div>
                    </div>
                    {% endfor %}
                </div>
                <!-- 페이지네이션 -->
                <div class="pagination justify-content-center mt-5">
                    <span class="step-links">
                        {% if asks.has_previous %}
                            <a href="?page=1" class="btn btn-outline-dark">처음</a>
                            <a href="?page={{ asks.previous_page_number }}" class="btn btn-outline-dark"><</a>
                        {% endif %}

                        {% for num in asks.paginator.page_range %}
                            {% if asks.number == num %}
                                <span class="current btn btn-dark">{{ num }}</span>
                            {% else %}
                                <a href="?page={{ num }}" class="btn btn-outline-dark" >{{ num }}</a>
                            {% endif %}
                        {% endfor %}

                        {% if notices.has_next %}
                            <a href="?page={{ asks.next_page_number }}" class="btn btn-outline-dark"> > </a>
                            <a href="?page={{ asks.paginator.num_pages }}" class="btn btn-outline-dark">마지막</a>
                        {% endif %}
                    </span>
                </div>
                <div class="bt_wrap">
                    {% if user.is_authenticated %}
                        {% if user.is_superuser or user.is_staff %}
                            <a class="on" href="/ask/create_ask/" role="button">
                                등록
                            </a>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}