{% extends 'event/base.html' %}
{% block head_title %}
    {{ event.title }} - Event
{% endblock %}
{% block main_area %}
    <main class="mt-4">
      <div class="container">
          <div class="row>">
              {% if event.head_image %}
              <img src="{{ event.head_image.url }}" class="img-fluid" alt="Responsive image">
              {% endif %}
              <div class="card">
                <div class="card-header">
                  <h5>{{ event.title }}</h5>
                </div>
                <div class="card-body">
                  <blockquote class="blockquote">
                    <p>{{ event.content }}</p>
                  </blockquote>
                </div>
                <div class="card-footer text-muted">
                    <p>{{ event.created_at|date:'Y-m-d h:i' }}</p>
                    <p>{{ event.author | upper }}</p>
                </div>
              </div>
              <div class="bt_wrap">
                <a href="/Event/" class="on">목록</a>
                {% if user.is_authenticated and user == event.author %}
                  <a href="/Event/update_event/{{ event.pk }}/" role="button">
                    수정
                  </a>
                {% endif %}
              </div>
          </div>
      </div>
    </main>
{% endblock %}

