{% extends 'event/base.html' %}

{% block main_area %}
    <main class="mt-4">
      <div class="container">
          <div class="row>">
              {% if p.head_image %}
              <img src="{{ event.head_image.url }}" class="img-fluid" alt="Responsive image">
              {% endif %}
              <div class="card">
                <div class="card-header">
                  <h5>{{ event.title }}</h5>
                </div>
                <div class="card-body">
                  <blockquote class="blockquote">
                    <p>{{ event.content }}</p>
                  </blockquote>
                </div>
                <div class="card-footer text-muted">
                    <p>{{ event.created_at|date:'Y-m-d h:i' }}</p>
                </div>
              </div>
          </div>
      </div>
    </main>
{% endblock %}