{% extends 'event/base.html' %}

{% block main_area %}

{% for p in events %}
     <div class="mt-4">
        <div class="container">
            <div class="row>">
                <div class="row row-cols-1 row-cols-md-2">
                  <main class="col mb-4 float=right">
                    <div class="card">
                      {% if p.head_image %}
                      <img src="{{ p.head_image.url }}" class="card-img-top" alt="{{ p }} head image">
                      {% endif %}
                      <div class="card-body">
                        <h5 class="card-title">{{ p.title }}</h5>
                        <p class="card-text">{{ p.content }}</p>
                        <a href="{{ p.get_absolute_url }}" class="btn btn-outline-dark">자세히 보기</a>
                      </div>
                    </div>
                  </main>
                </div>
            </div>
        </div>
    </div>
{% endfor %}

    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center mt-5">
          <li class="page-item">
          <a class="page-link" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
          </a>
          </li>
          <li class="page-item"><a class="page-link" href="">1</a></li>
          <li class="page-item">
          <a class="page-link" href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
          </a>
          </li>
      </ul>
    </nav>
{% endblock %}