{% extends 'event/base.html' %}

{% block css %}
{% load static %}
    <link href="{% static 'event/css/css.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block main_area %}

     <div class="mt-2">
        <div class="card-container">
            {% for p in events %}
                <div class="card {% if forloop.counter0|divisibleby:2 %}left{% else %}right{% endif %}">
                  {% if p.head_image %}
                  <img src="{{ p.head_image.url }}" class="card-img-top" alt="{{ p }} head image">
                  {% endif %}
                  <div class="card-body">
                    <h5 class="card-title">{{ p.title }}<br>{{ event.author | upper }}</h5>
                    <p class="card-text">{{ p.content }}</p>
                    <a href="{{ p.get_absolute_url }}" class="btn btn-outline-dark">자세히 보기</a>
                  </div>
                </div>
            {% endfor %}
        </div>
         <div class="board_list_wrap">
            <div class="bt_wrap">
                {% if user.is_authenticated %}
                    {% if user.is_superuser or user.is_staff %}
                        <a class="on" href="/Event/create_event/" role="button">
                            등록
                        </a>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>

    <!-- 페이지네이션 -->
    <div class="pagination justify-content-center mt-5">
        <span class="step-links">
            {% if events.has_previous %}
                <a href="?page=1" class="btn btn-outline-dark">처음</a>
                <a href="?page={{ events.previous_page_number }}" class="btn btn-outline-dark"> < </a>
            {% endif %}

            {% for num in events.paginator.page_range %}
                {% if events.number == num %}
                    <span class="current btn btn-dark">{{ num }}</span>
                {% else %}
                    <a href="?page={{ num }}" class="btn btn-outline-dark" >{{ num }}</a>
                {% endif %}
            {% endfor %}

            {% if events.has_next %}
                <a href="?page={{ events.next_page_number }}" class="btn btn-outline-dark"> > </a>
                <a href="?page={{ events.paginator.num_pages }}" class="btn btn-outline-dark">마지막</a>
            {% endif %}
        </span>
    </div>

{% endblock %}