<header>
    <div class="container bg-white fixed-top">
        <ul class="nav justify-content-end border-bottom">

            <li class="nav-item">
              <a class="nav-link active text-body" href="/login/" class="text-dark">LOGIN</a>
            </li>

            <li class="nav-item">
              <a class="nav-link text-body" href="/mypage/" class="text-dark">MYPAGE</a>
            </li>

            <li class="nav-item">
              <a class="nav-link text-body" href="/cart/" class="text-dark">CART</a>
            </li>
        </ul>
        <div class="row ml-1">
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand" href="/">
                    {% load static %}
                    <img src="{% static 'event/image/로고.PNG' %}" width="220" height="80" alt="" loading="lazy">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="" aria-label="Search">
                    <a class="btn btn-outline-dark my-2 my-sm-0" type="submit" href="./searchingpage.html" role="button"><i class="fa-solid fa-magnifying-glass"></i></a>
                </form>
            </nav>
        </div>

        <div class="container">
          <ul class="nav justify-content-center navbar-light nav-justified">
              <div class="col-4">
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle text-body h5" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    K LEAGUE
                  </a>
                  <div class="dropdown-menu text-body" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/KLEAGUE/">전체상품보기</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="gwangwon_list.html">강원FC</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="gwanggu_list.html">광주FC</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="daegu_list.html">대구FC</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="dajeon_list.html">대전하나시티즌</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="busan_list.html">부산아이파크</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="seoul_list.html">FC서울</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="suwonfc_list.html">수원FC</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="suwon_list.html">수원삼성블루윙즈</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="ulsan_list.html">울산현대</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="incheon_list.html">인천유나이티드</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="jeonbuk_list.html">전북현대모터스</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="pohang_list.html">포항스틸러스</a>
                  </div>
                </li>
              </div>
              <div class="col-4">
                <li class="nav-item">
                  <a class="nav-link text-body h5" href="/KFA/">KFA</a>
                </li>
              </div>
              <div class="col-4">
                <li class="nav-item">
                  <a class="nav-link text-body h5" href="#">#OOTD</a>
                </li>
              </div>

          </ul>
        </div>
    </div>
</header>
