{% extends 'login/base.html' %}
{% load socialaccount %}

{% block main_area %}
    <div id="login">


        <div class="container">

            <div id="login-row" class="row justify-content-center align-items-center">


                <div id="login-column" class="col-md-6">


                    <div id="login-box" class="col-md-12">


                        <form id="login-form" class="form" action="" method="post">


                            <h3 class="text-center text-dark">회원 로그인</h3>


                            <div class="form-group">
                                <label for="username" class="text-dark">MEMBER ID:</label><br>
                                <input type="text" name="username" id="username" class="form-control">
                            </div>

                            <div class="form-group">
                                <label for="password" class="text-dark">PASSWORD:</label><br>
                                <input type="password" name="password" id="password" class="form-control">

                            </div>

                            <div class="form-group">
                                <label for="아이디 저장" class="text-dark"><span>아이디 저장</span> <span><input id="아이디 저장" name="아이디 저장" type="checkbox"></span></label>
                                <label for="보안접속" class="text-dark"><span>보안접속</span> <span><input id="보안접속" name="보안접속" type="checkbox"></span></label><br><br>
                                <button class="btn btn-dark btn lg" type="button">LOG IN</button>

                                <a role="button" class="btn btn-dark btn lg" data-target="#loginModal" href="{% provider_login_url 'google' %}" style="color: #ffffff;">SOCIAL LOGIN</a>



                                <div id="register-link" class="text-right">
                                    <a href="#" class="text-dark">ID/PASSWORD</a>

                                </div>
                            </br>
                        </br>
                    </br>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

   <!-- Modal -->
        <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
          <div class="modal-dialog">
          <div class="modal-content">
          <div class="modal-header">
          <h5 class="modal-title" id="loginModalLabel"><i class="fa-solid fa-right-to-bracket"></i>&nbsp;Log In</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-6">
                <a role="button" class="btn btn-outline-dark btn-block btn-sm" href="{% provider_login_url 'google' %}"><i class="fa-brands fa-google"></i>&nbsp;Log In With Google</a>
                <a role="button" class="btn btn-outline-dark btn-block btn-sm" href="/accounts/login/"><i class="fa-regular fa-envelope"></i>&nbsp;Log In With Username</a>
              </div>
              <div class="col-md-6">
                <a role="button" class="btn btn-outline-dark btn-block btn-sm" href="/accounts/signup/"><i class="fa-solid fa-envelope"></i>&nbsp;Sign Up With E-mail</a>
              </div>
            </div>
          </div>
          <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
        </div>
        </div>
        </div>
        </div>

{% endblock %}
