{% extends 'login/base.html' %}

{% block main_area %}
    <div id="login">


        <div class="container">

            <div id="login-row" class="row justify-content-center align-items-center">


                <div id="login-column" class="col-md-6">


                    <div id="login-box" class="col-md-12">


                        <form id="login-form" class="form" action="" method="post">


                            <h3 class="text-center text-dark">회원 로그인</h3>


                            <div class="form-group">
                                <label for="username" class="text-dark">MEMBER ID:</label><br>
                                <input type="text" name="username" id="username" class="form-control">
                            </div>

                            <div class="form-group">
                                <label for="password" class="text-dark">PASSWORD:</label><br>
                                <input type="password" name="password" id="password" class="form-control">

                            </div>

                            <div class="form-group">
                                <label for="아이디 저장" class="text-dark"><span>아이디 저장</span> <span><input id="아이디 저장" name="아이디 저장" type="checkbox"></span></label>
                                <label for="보안접속" class="text-dark"><span>보안접속</span> <span><input id="보안접속" name="보안접속" type="checkbox"></span></label><br><br>
                                <button class="btn btn-dark btn lg" type="button">LOG IN</button>

                                <button class="btn btn-dark btn lg" type="button"><a href="memberjoin.html" style="color: #ffffff;">JOIN US</a></button>



                                <div id="register-link" class="text-right">
                                    <a href="#" class="text-dark">ID/PASSWORD</a>

                                </div>
                            </br>
                        </br>
                    </br>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
