 <footer>
          <div class="p-1 mb-2 mt-5 bg-dark text-white">
              <div class="container">
                  <footer class="pb-1">
                      <ul class="nav nav-pills nav-justified">
                        <li class="nav-item"><a href="/company/" class="nav-link px-2 text-body-secondary text-white">회사소개</a></li>
                        <li class="nav-item"><a href="/notice/" class="nav-link px-2 text-body-secondary text-white">공지사항</a></li>
                        <li class="nav-item"><a href="/Event/" class="nav-link px-2 text-body-secondary text-white">이벤트공지</a></li>
                        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary text-white">개인정보처리방침</a></li>
                        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary text-white">이용약관</a></li>
                      </ul>
                  </footer>
              </div>
              <div class="border-bottom mb-4"></div>

              <div class="container">
                  <footer class="nav justify-content-center">

                      <div class="col mb-3">
                        <h5><strong>BANK INFO</strong></h5>
                        <ul class="nav flex-column my-3">
                          <li class="nav-item mb-2 nav-link p-0 text-body-secondary">은행주: 계좌번호</li>
                          <li class="nav-item mb-2 nav-link p-0 text-body-secondary" >입금주</li>
                          <li class="nav-item mb-2 nav-link p-0 text-body-secondary">입금 기한</li>
                        </ul>
                      </div>

                      <div class="col mb-6">
                        <h5><strong>CUSTOMER INFO</strong></h5>
                        <ul class="nav flex-column my-3">
                          <h3><li class="nav-item mb-2 nav-link p-0 text-body-secondary">070-1234-5678</li></h3>
                          <li class="nav-item mb-2 nav-link p-0 text-body-secondary">Open : am 10:00 ~ pm 17:00<br>Lunch : pm 12:00 ~ pm 13:00<br>(토, 일, 공휴일 휴무)</li>
                        </ul>
                      </div>

                      <div class="col mb-3">
                        <h5><strong>COMPANY INFO</strong></h5>
                        <ul class="nav flex-column my-3">
                          <li class="nav-item mb-2 nav-link p-0 text-body-secondary">Company : (주)marick</li>
                          <li class="nav-item mb-2 nav-link p-0 text-body-secondary">Address : 호서대학교</li>
                          <li class="nav-item mb-2 nav-link p-0 text-body-secondary">Tel : 070-1234-5678</li>
                          <li class="nav-item mb-2 nav-link p-0 text-body-secondary">E-mail : marick@gmail.com</li>
                        </ul>
                      </div>
                    </footer>
              </div>
          </div>
    </footer>