{% extends 'KLEAGUE/base.html' %}
{% block head_title %}
    Create - KLEAGUE
{% endblock %}
{% load crispy_forms_tags %}
    {% block main_area %}

          <main class="mt-4">
              <div class="container">
                  <form method="post" enctype="multipart/form-data">
                      {% csrf_token %}
                          <div class="col-md-12">
                              <div class="card rounded shadow-sm">
                                  <div class="card-body">
                                    <h4 class="card-title">{{ form.league_name | as_crispy_field }}<br>{{ form.title | as_crispy_field }}</h4>
                                    <h4 class="card-subtitle mb-2">{{ form.cont | as_crispy_field }}</h4>
                                            <p>{{ form.option_price | as_crispy_field }}</p>
                                            <p>{{ form.base_price | as_crispy_field }}</p>

                                  </div>
                              </div>
                          </div>
                        <!-- 삭제예정-->
                      <div class="tab-content" id="nav-tabContent">
                          <div class="tab-pane fade show active mt-5" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                              {{ form.head_image | as_crispy_field }}
                              {{ form.detail_image1 | as_crispy_field }}
                              {{ form.detail_image2 | as_crispy_field }}
                              {{ form.size_image | as_crispy_field }}
                          </div>
                      </div>
                      <div class="bt_wrap">
                        <button type="submit" class="on">등록</button>
                        <a href="/KLEAGUE/">취소</a>
                      </div>
                      {{ form.media }}
                  </form>
              </div>
          </main>
    {% endblock %}