{% extends 'KLEAGUE/base.html' %}

{% block css %}
{% load static %}
    <link href="{% static 'KLEAGUE/css/card.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block main_area %}

      <div class="mt-5">
          <div class="container">
              <div class="card-container">
                  {% for p in kleagues %}
                  <div class="col-md-4">
                      <div class="card {% if forloop.counter0|divisibleby:4 %}left{% else %}right{% endif %}">
                        {% if p.head_image %}
                            <img src="{{ p.head_image.url }}" class="img-fluid">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ p.league_name }}</h5>
                            <p class="read"><a href="{{ p.get_absolute_url }}">{{ p.title }}</a></p>
                            <p><a href="#" class="text-primary">{{ p.content | truncatewords:10 }}</a></p>
                            <p class="card-text text-right">{{ p.base_price|floatformat:"-2" }}원</p>
                        </div>
                      </div>
                  </div>
                  {% endfor %}
              </div>
              <div class="bt_wrap">
                {% if user.is_authenticated %}
                    {% if user.is_superuser or user.is_staff %}
                        <a class="on" href="/KLEAGUE/create_KLEAGUE/" role="button">
                            등록
                        </a>
                    {% endif %}
                {% endif %}
              </div>
          </div>
      </div>

      <!-- 페이지네이션 -->
      <div class="pagination justify-content-center mt-5">
            <span class="step-links">
                {% if kleagues.has_previous %}
                    <a href="?page=1" class="btn btn-outline-dark">처음</a>
                    <a href="?page={{ kleagues.previous_page_number }}" class="btn btn-outline-dark"><</a>
                {% endif %}

                {% for num in kleagues.paginator.page_range %}
                    {% if kleagues.number == num %}
                        <span class="current btn btn-dark">{{ num }}</span>
                    {% else %}
                        <a href="?page={{ num }}" class="btn btn-outline-dark" >{{ num }}</a>
                    {% endif %}
                {% endfor %}

                {% if kleagues.has_next %}
                    <a href="?page={{ kleagues.next_page_number }}" class="btn btn-outline-dark"> > </a>
                    <a href="?page={{ kleagues.paginator.num_pages }}" class="btn btn-outline-dark">마지막</a>
                {% endif %}
            </span>
      </div>

{% endblock %}