{% extends 'kfa/base.html' %}
{% block head_title %}
    {{ kfa.title }}
{% endblock %}
    {% block main_area %}

          <main class="mt-4">
              <div class="container">
                  <div class="row>">
                      <div class="col-md-5">
                          {% if kfa.head_image %}
                            <img src="{{ kfa.head_image.url }}" class="rounded float-left" style="width: 450px;" alt="Responsive image">
                          {% endif %}
                      </div>
                  </div>
                      <div class="col-md-12">
                          <div class="card rounded shadow-sm">
                              <div class="card-body">
                                <h4 class="card-title">{{ kfa.title }}</h4>
                                  <h4>{{ kfa.base_price|floatformat:"-2" }}원</h4>
                                <h4 class="card-subtitle mb-2">{{ kfa.content }}</h4>
                                <div class="col-md-9">
                                  <label for="validationCustom04">사이즈 선택</label>
                                  <form method="GET">
                                      <select name="size_option">
                                        <option selected disabled value="">사이즈 선택</option>
                                        <option value="option1">S</option>
                                        <option value="option2">M</option>
                                        <option value="option3">L</option>
                                        <option value="option4">XL</option>
                                        <option value="option5">XXL</option>
                                        <option value="option6">XXXL</option>
                                        <option value="option7">XXXXL</option>
                                      </select>
                                      <button type="submit" class="btn btn-primary">적용</button>
                                  </form>
                                </div>
                                <div class="mt-4">
                                    <div class="col-md-9">
                                    <label for="validationCustom04">마킹 선택</label>
<!--                                        <h6>번호.마킹: + {{ kfa.option_price|floatformat:"-2" }}</h6>-->
                                        <!-- 옵션 선택 폼 -->
                                        <form method="GET">
                                            <select name="selected_option">
                                                <option value="option1">1.김승규</option>
                                                <option value="option2">4. 김민재</option>
                                                <option value="option3">5. 김영권</option>
                                                <option value="option4">6. 김태환</option>
                                                <option value="option5">7. 손흥민</option>
                                                <option value="option6">9. 박용우</option>
                                                <option value="option7">10. 이재성</option>
                                                <option value="option8">11. 이강인</option>
                                                <option value="option9">14. 황인범</option>
                                                <option value="option10">15. 오현규</option>
                                                <option value="option11">16. 황의조</option>
                                                <option value="option12">23. 이기제</option>
                                                <option value="no_option">옵션없음</option>
                                            </select>
                                            <button type="submit" class="btn btn-primary">적용</button>
                                        </form>

                                        <p>Option Price: {{ kfa.option_price|floatformat:"-2" }}원</p>
                                        <p>base Price: {{ kfa.base_price|floatformat:"-2" }}원</p>

                                        <h4>총 상품 금액: {{ total_price|floatformat:"-2" }}원</h4>

                                    </div>
                                </div>
                                <div class="row pt-3 pb-3">
                                    <div class="col-12">
                                      <button type="button" class="btn btn-secondary btn-lg btn-block btn-right">장바구니 담기</button>
                                      <button type="button" class="btn btn-dark btn-lg btn-block">구매하기</button>
                                    </div>
                                </div>
                              </div>
                          </div>
                      </div>
                      <div class="bt_wrap">
                        <a href="/KFA/" class="on">목록</a>
                        {% if user.is_authenticated and user == kfa.author %}
                          <a href="/KFA/update_KFA/{{ kfa.pk }}/" role="button">
                            수정
                          </a>
                        {% endif %}
                      </div>
                  <nav>
                      <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">상세정보</a>
                        <!--<a class="nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Review</a>-->
                        <a class="nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Review</a>
                      </div>
                  </nav>
                  <div class="tab-content" id="nav-tabContent">
                      <div class="tab-pane fade show active mt-5" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                          {% if kfa.detail_image1 %}
                          <img src="{{ kfa.detail_image1.url }}" class="img-fluid" style="width: 1200px;" alt="Responsive image">
                          {% endif %}
                          {% if kfa.detail_image2 %}
                          <img src="{{ kfa.detail_image2.url }}" class="img-fluid" style="width: 1200px;" alt="Responsive image">
                          {% endif %}
                          {% if kfa.size_image %}
                          <img src="{{ kfa.size_image.url }}" class="img-fluid" style="width: 1200px;" alt="Responsive image">
                          {% endif %}

                      </div>


                      <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                          {% for Review in reviews %}
                              <div class="card" style="width: 30rem;">
                                    <div class="col-md-6">
                                        <img src="{{ review.head_image.url }}" alt="{{ review }} head image" class="card-img-top" style="width: 250px;">
                                        <div class="card-body">
                                          <h5 class="card-title">{{ review.title }}</h5>
                                          <p class="card-text">{{ review.content }}</p>

                                          <div class="card-footer">
                                            <small class="text-muted">작성자: {{ review.author | upper }}</small>
                                            <small class="text-muted">작성일: {{ review.created_at }}</small>
                                          </div>
                                          <div class="d-flex flex-column align-items-start">
                                            {% if user.is_authenticated and user == review.author %}
                                                <a href="/KFA/update_review/{{ review.pk }}/" role="button" class="btn btn-dark flex-shrink-0">
                                                    수정
                                                </a>
                                            {% endif %}
                                          </div>
                                        </div>
                                    </div>
                              </div>
                          {% endfor %}
                      </div>
                      <div class="board_list_wrap">
                          <div class="bt_wrap mt-10">
                              {% if user.is_authenticated %}
                              {% if user.is_Active or user.is_superuser or user.is_staff %}
                                  <a class="on" href="/KFA/create_review/" role="button">
                                      리뷰 등록
                                  </a>
                              {% endif %}
                              {% endif %}
                          </div>
                      </div>
                  </div>
              </div>
          </main>
    {% endblock %}