 <header>
    {% load socialaccount %}
        <div class="container bg-white fixed-top">
            <ul class="nav justify-content-end border-bottom">

                {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="/login/" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ user.username | upper }}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                          <a class="dropdown-item" href="/accounts/logout">Log Out</a>
                        </div>
                    </li>
                {% else %}
                    <li class="nav-item">
                      <a class="nav-link active text-body" href="/login/" class="text-dark">LOGIN</a>
                    </li>
                {% endif %}

                <li class="nav-item">
                  <a class="nav-link text-body" href="/mypage/" class="text-dark">MYPAGE</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link text-body" href="/cart/" class="text-dark">CART</a>
                </li>
            </ul>
            <div class="row ml-1">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="navbar-brand" href="/">
                        {% load static %}
                        <img src="{% static 'kfa/image/로고.PNG' %}" width="220" height="80" alt="" loading="lazy">
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="" aria-label="Search">
                        <a class="btn btn-outline-dark my-2 my-sm-0" type="submit" href="./searchingpage.html" role="button"><i class="fa-solid fa-magnifying-glass"></i></a>
                    </form>
                </nav>
            </div>

            <div class="container">
              <ul class="nav justify-content-center navbar-light nav-justified">
                  <div class="col-4">
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle text-body h5" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        K LEAGUE
                      </a>
                    <div class="dropdown-menu text-body" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/KLEAGUE/">전체상품보기</a>
                        <div class="dropdown-divider"></div>

                          {% for category in categories %}
                                <a class="dropdown-item" href="{{ category.get_absolute_url }}">{{ category }}</a>
                                <div class="dropdown-divider"></div>
                          {% endfor %}
                  </div>
                    </li>
                  </div>
                  <div class="col-4">
                    <li class="nav-item">
                      <a class="nav-link text-body h5" href="/KFA/">KFA</a>
                    </li>
                  </div>
                  <div class="col-4">
                    <li class="nav-item">
                      <a class="nav-link text-body h5" href="/OOTD/">#OOTD</a>
                    </li>
                  </div>
              </ul>
            </div>
        </div>
     <!-- Modal -->
        <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
          <div class="modal-dialog">
          <div class="modal-content">
          <div class="modal-header">
          <h5 class="modal-title" id="loginModalLabel"><i class="fa-solid fa-right-to-bracket"></i>&nbsp;Log In</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-6">
                <a role="button" class="btn btn-outline-dark btn-block btn-sm" href="{% provider_login_url 'google' %}"><i class="fa-brands fa-google"></i>&nbsp;Log In With Google</a>
                <a role="button" class="btn btn-outline-dark btn-block btn-sm" href="/accounts/login/"><i class="fa-regular fa-envelope"></i>&nbsp;Log In With Username</a>
              </div>
              <div class="col-md-6">
                <a role="button" class="btn btn-outline-dark btn-block btn-sm" href="/accounts/signup/"><i class="fa-solid fa-envelope"></i>&nbsp;Sign Up With E-mail</a>
              </div>
            </div>
          </div>
          <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
        </div>
        </div>
        </div>
        </div>
    </header>