{% extends 'KLEAGUE/base.html' %}

{% load crispy_forms_tags %}

{% block head_title %}
    리뷰 수정하기
{% endblock %}

{% block main_area %}
    <main class="mt-4">
      <div class="container">
          <div class="row>">
              <form method="post" enctype="multipart/form-data">
                  {% csrf_token %}
<!--                  {% if Review_head_image %}-->
                        <img src="{{ Review.head_image.url }}" class="img-fluid" alt="Responsive image">
<!--                  {% endif %}-->
                  <div class="card">
                    <div class="card-header">
                      <h5>{{ form.title | as_crispy_field }}</h5>
                    </div>
                    <div class="card-body">
                      <blockquote class="blockquote">
                        <p>{{ form.content | as_crispy_field }}</p>
                      </blockquote>
                    </div>
                    <div class="card-footer text-muted">
                        <p>{{ form.author | upper }}</p>
                        {{ form.head_image | as_crispy_field }}
                    </div>
                  </div>
                  <div class="bt_wrap">
                    <button type="submit" class="on">수정</button>
                    <a href="/Review/">취소</a>
                  </div>
                  {{ form.media }}
              </form>
          </div>
      </div>
    </main>
{% endblock %}

