/* styles.css */

.btn-info {
    background-color: #110b0b;

   
color: #f7f4f4;
}






   body {
    margin: 100;
    padding: 100;
    background-color: #ffffff;
    height: 100vh;
  }
  #login .container #login-row #login-column #login-box {
    margin-top: 210px;
    max-width: 600px;
    height: 480px;
    border: 1px solid #0a0a0a;
    background-color: #ffffff;

  }
  #login .container #login-row #login-column #login-box #login-form {
    padding: 35px;
  }
  #login .container #login-row #login-column #login-box #login-form #register-link {
    margin-top: -85px;
  }


.btn-info {
    background-size: auto;
}

.text-right {
    margin-top: 8rem; 
}