{% extends 'notice/base.html' %}

{% block main_area %}
    <section>
        <div class="board_wrap">
            <div class="board_title">
                <strong>공지사항</strong>
                <p>공지사항을 빠르고 정확하게 안내해드리겠습니다.</p>
            </div>
            <div class="board_view_wrap">
                <div class="board_view">
                    <div class="title">{{ notice.title }}</div>
                    <div class="info">
                        <dl>
                            <dt>번호</dt>
                            <dd>{{ notice.pk }}</dd>
                        </dl>
                        <dl>
                            <dt>글쓴이</dt>
                            <dd>{{ notice.author | upper }}</dd>
                        </dl>
                        <dl>
                            <dt>작성일</dt>
                            <dd>{{ notice.created_at|date:'Y-m-d' }}</dd>
                        </dl>
<!--                        <dl>-->
<!--                            <dt>조회</dt>-->
<!--                            <dd>33</dd>-->
<!--                        </dl>-->
                    </div>
                    <div class="cont">
                        {% if notice.head_image %}
                            <img src="{{ notice.head_image.url }}" class="img-fluid" alt="{{ notice }} head image">
                            <br>
                        {% endif %}
                            {{ notice.get_content_markdown | safe }}
                    </div>

                    {% if notice.file_upload %}
                    <a href="{{ notice.file_upload.url }}" role="button" class="btn btn-outline-dark" download>
                      Download:
                      {% if post.get_file_ext == 'docx' or post.get_file_ext == 'doc' %}
                      <i class="fa-solid fa-file-word"></i>
                      {% elif post.get_file_ext == 'xlsx' or post.get_file_ext == 'xls' %}
                      <i class="fa-solid fa-file-excel"></i>
                      {% elif post.get_file_ext == 'csv' %}
                      <i class="fa-solid fa-file-csv"></i>
                      {% elif post.get_file_ext == 'pdf' %}
                      <i class="fa-solid fa-file-pdf"></i>
                      {% else %}
                      <i class="fa-solid fa-file"></i>
                      {% endif %}
                      {{ notice.get_file_name }}
                    </a>
                    {% endif %}
                </div>
                <div class="bt_wrap">
                    <a href="/notice/" class="on">목록</a>
                    {% if user.is_authenticated and user == notice.author %}
                      <a href="/notice/update_notice/{{ notice.pk }}/" role="button">
                        수정
                      </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}