{% extends 'notice/base.html' %}
{% block main_area %}
    <section>
        <div class="board_wrap">
            <div class="board_title">
                <strong>공지사항</strong>
                <p>공지사항을 빠르고 정확하게 안내해드리겠습니다.</p>
            </div>
            <div class="board_write_wrap">
                <div class="board_write">
                    <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <table>
                        {{ form }}
                    </table>
                        <div class="bt_wrap">
                            <button type="submit" class="on">등록</button>
                            <a href="notice.html">취소</a>
                        </div>
                    </form>
                </div>
            </div>
            {{ form.media }}
        </div>
    </section>
{% endblock %}