{% extends 'mypage/base.html' %}

{% block css %}
{% load static %}
    <link href="{% static 'mypage/css/marick.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'mypage/css/head.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block main_area %}
    <!-- Header-->
    <header class="py-5">
        <div class="container px-lg-5">
            <div class="p-4 p-lg-5 bg-light rounded-3 text-center">
                <div class="m-4 m-lg-5"><h1>My Page</h1>
                    <p class="fs-4">ㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤ<br><h4>개인 정보와 필요한 여러 정보들을 확인할 수 있습니다</h4></p>
                    <br><a class="btn btn-dark btn-lg" href="/mypage/infor/">단계별 등급 설명</a>
                </div>
            </div>
        </div>
    </header>


    <!-- Page Content-->
    <section class="pt-4">
        <div class="container px-lg-5">
            <!-- Page Features-->
            <div class="row gx-lg-5">

                <div class="col-lg-6 col-xxl-4 mb-5">
                    <div class="card bg-light border-0 h-100">
                        <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                            <div class="feature bg-dark bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-images"></i></div>
                            <br>
                            <a class="text-body h2 fs-4 fw-bold" href="/OOTD/">OOTD</a>
                            <p class="mb-0">나만의 OOTD를 작성해보세요</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-xxl-4 mb-5">
                    <div class="card bg-light border-0 h-100">
                        <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                            <div class="feature bg-dark bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-chat-left-text" href="/notice/notice/"></i></div>
                            <br>
                            <a class="text-body h2 fs-4 fw-bold" href="/ask/">문의</a>
                            <p class="mb-0">상품 관련 질문은 문의게시판을 이용해주세요</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
{% endblock %}

