{% extends 'mypage/base.html' %}

{% block css %}
{% load static %}
    <link href="{% static 'mypage/css/marick.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'mypage/css/head.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block main_area %}
    <!-- Header-->
    <header class="py-5">
        <div class="container px-lg-5">
            <div class="p-4 p-lg-5 bg-light rounded-3 text-center">
                <div class="m-4 m-lg-5"><h1>My Page</h1>
                    <p class="fs-4">ㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤ<br><h4>개인 정보와 필요한 여러 정보들을 확인할 수 있습니다</h4></p>
                    <br><a class="btn btn-dark btn-lg" href="/mypage/infor/">회원 정보 수정</a>
                </div>
            </div>
        </div>
    </header>


    <!-- Page Content-->
    <section class="pt-4">
        <div class="container px-lg-5">
            <!-- Page Features-->
            <div class="row gx-lg-5">
                <div class="col-lg-6 col-xxl-4 mb-5">
                    <div class="card bg-light border-0 h-100">
                        <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                            <div class="feature bg-dark bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-collection"></i></div>
                            <h2 class="fs-4 fw-bold">방금 본 상품</h2>
                            <p class="mb-0">최근 2주동안 확인 한 상품</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-xxl-4 mb-5">
                    <div class="card bg-light border-0 h-100">
                        <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                            <div class="feature bg-dark bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-images"></i></div>
                            <h2 class="fs-4 fw-bold">후기</h2>
                            <p class="mb-0">작성한 후기 수정 가능</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-xxl-4 mb-5">
                    <div class="card bg-light border-0 h-100">
                        <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                            <div class="feature bg-dark bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-card-heading"></i></div>
                            <h2 class="fs-4 fw-bold">구매 목록</h2>
                            <p class="mb-0">구매한 상품 목록</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-xxl-4 mb-5">
                    <div class="card bg-light border-0 h-100">
                        <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                            <div class="feature bg-dark bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-chat-left-text"></i></div>
                            <h2 class="fs-4 fw-bold">문의</h2>
                            <p class="mb-0">작성한 문의 내역 확인</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-xxl-4 mb-5">
                    <div class="card bg-light border-0 h-100">
                        <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                            <div class="feature bg-dark bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-heart"></i></div>
                            <h2 class="fs-4 fw-bold">등급</h2>
                            <p class="mb-0">회원 등급과 혜택 확인</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-xxl-4 mb-5">
                    <div class="card bg-light border-0 h-100">
                        <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                            <div class="feature bg-dark bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-patch-check"></i></div>
                            <h2 class="fs-4 fw-bold">주문 배송 확인</h2>
                            <p class="mb-0">구매하신 상품의 배송 현황</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

