{% extends 'single_pages/base.html' %}

{% block css %}
{% load static %}
    <link href="{% static 'single_pages/css/marick.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'single_pages/css/head.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block main_area %}

  <figure>
        <div class="container pt-5">
            <div id="carouselExampleIndicators" class="carousel slide row m-3" data-ride="carousel">
                <ol class="carousel-indicators">
                  <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>

                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <a href="Event_detail.html"><img src="./image/배너/1배너.png" class="d-block w-100" alt="..."></a>
                  </div>
                  <div class="carousel-item">
                    <a href="Event_detail_2.html"><img src="./image/배너/2배너.png" class="d-block w-100" alt="..."></a>
                  </div>
                  <div class="carousel-item">
                    <a href="Event_detail_3.html"><img src="./image/배너/3배너.png" class="d-block w-100" alt="..."></a>
                  </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
  </figure>


  <section>
    <!-- 베스트상품 -->
    <div class="container pt-5">
      <h3 class="text-center">BEST ITEM</h3>
        <div class="card-group mt-3">
          <div class="card">
            <img src="./image/유니폼/kfa 22-24 홈.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h4 class="card-title">KFA</h4>
              <p><a href="product_kfa_home.html" class="text-primary">22-24시즌 홈 유니폼</a></p>
              <p class="text-right">89,000원</small></p>
            </div>
          </div>
          <div class="card">
            <img src="./image/유니폼/수원삼성 23 홈.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h4 class="card-title">수원삼성</h4>
              <p><a href="product_suwon_home.html" class="text-primary">23시즌 홈 유니폼</a></p>
              <p class="text-right">99,000원</small></p>
            </div>
          </div>
          <div class="card">
            <img src="./image/유니폼/포항 스틸러스 23홈.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h4 class="card-title">포항스틸러스</h4>
              <p><a href="product_pohang_home.html" class="text-primary">23시즌 홈 유니폼</a></p>
              <p class="text-right">99,000원</small></p>
            </div>
          </div>
        </div>
    </div>

    <!-- 신상품 -->
    <div class="container pt-5">
      <h3 class="row ml-3">NEW ARRIVAL</h3>
        <div class="card-group mt-3">
          <div class="card">
            <img src="./image/유니폼/울산현대 24 홈.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h4 class="card-title">울산현대</h4>
              <p><a href="product_ulsan_home.html" class="text-primary">24시즌 홈 유니폼</a></p>
              <p class="text-right">99,000원</small></p>
            </div>
          </div>
          <div class="card">
            <img src="./image/유니폼/수원삼성 23 원정.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h4 class="card-title">수원삼성</h4>
              <p><a href="product_suwon_away.html" class="text-primary">23시즌 원정 유니폼</a></p>
              <p class="text-right">99,000원</small></p>
            </div>
          </div>
          <div class="card">
            <img src="./image/유니폼/전북현대 23 홈.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h4 class="card-title">전북현대</h4>
              <p><a href="product_jeonbuk_home.html" class="text-primary">23시즌 홈 유니폼</a></p>
              <p class="text-right">99,000원</small></p>
            </div>
          </div>
        </div>
    </div>
  </section>


{% endblock %}