.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-right: 15px;
  padding-left: 15px;
}

.card-row {
  width: 100%; /* 한 줄에 두 개의 카드를 나열하기 위해 100% 너비 설정 */
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px; /* 각 줄 사이의 간격을 조절하려면 조정 가능 */
}

.card {
  min-width: 240px; /* 카드의 최소 너비를 설정 */
  width: 24%; /* 두 개의 카드가 동일한 줄에 나열되도록 48% 너비 설정 */
  margin-left: auto; /* 왼쪽 여백을 자동으로 설정하여 센터 정렬 */
  margin-right: auto; /* 오른쪽 여백도 자동으로 설정하여 센터 정렬 */
  margin-bottom: 25px;
  border: 1px solid #ccc;

  /* 나머지 스타일 속성을 필요에 따라 추가 및 조정할 수 있습니다. */
}
.card-img-top {
  width: 100px; /* 이미지의 가로 크기를 500px로 설정 */
  height: 100px; /* 이미지의 세로 크기를 500px로 설정 */
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.read {
  font-size: 17px auto;
  font-weight: 300;
}