{% extends 'payment/base.html' %}

{% block main_area %}
    <div class="margin">

        <div class="container bg-light d-md-flex align-items-center">
          <div class="card box1 shadow-sm p-md-5 p-md-5 p-4">
            <div class="fw-bolder mb-4"><span class="fas fa-wand"></span><span class="col"> 총 상품 금액 </br> &#8361;290,000</span>
             </div>

             <div class="d-flex flex-column">
                 <div class="d-flex align-items-center justify-content-text"> <span class=""></span>

             </div>

                 <div class="fw-bolder mb-4"><span class="fas fa-wand"></span><span class="col"> 할인 금액 </br> &#8361;-40,700</span>
                 </div>

                 <div class="fw-bolder mb-4"><span class="fas fa-wand"></span><span class="col"> 총 결제 금액 </br> &#8361;249,300</span>
                 </div>


                 <div class="border-bottom mb-4"></div> <div class="d-flex flex-column mb-4">
                   <span class="far fa-file-alt text"><span class="ps-2">무통장 입금</span>
                   </span>
                   <span class="ps-3">IBK : 643-202103-02-011 <br>마리크</span>
                 </div>

                 <div class="d-flex align-items-center justify-content-between text mt-5">
                     <div class="d-flex flex-column text">
                         <a href="/ask/"><span>고객센터 <br>문의하기</span></a>

                     </div>
                     <div class="btn btn-primary rounded-circle">
                        <span class="fas fa-comment-alt"></span>
                     </div>
               </div>
             </div>
          </div>
              <div class="card box2 shadow-sm">
                <div class="d-flex align-items-center justify-content-between p-md-5 p-4">
                    <span class="h5 fw-bold m-0">결제 수단</span>
                 <div class="btn btn-primary bar"><span class="fas fa-bars"></span></div>
                </div> <ul class="nav nav-tabs mb-3 px-md-4 px-2"> <li class="nav-item"> <a class="nav-link px-2 active" aria-current="page" href="#">신용/체크 카드</a> </li>
                    <li class="nav-item"> <a class="nav-link px-2" href="#">간편 결제</a> </li>
                    <li class="nav-item ms-auto"> <a class="nav-link px-2" href="#">+ More</a> </li> </ul>

                    <form action="">
         <div class="row">
                 <div class="col-12">
                     <div class="d-flex flex-column px-md-5 px-4 mb-4">
                            <span>카드 번호</span>
                         <div class="inputWithIcon">
                            <input class="form-control" type="text" value="6243 6303 4459 6471"> <span class=""> <img src="" alt=""></span>
                         </div>
                     </div>
                 </div>
             <div class="col-md-6">
                 <div class="d-flex flex-column ps-md-5 px-md-4 px-4 mb-4">
                      <span class="ps-1">유효 기간</span>

                         <div class="inputWithIcon">
                                <input type="text" class="form-control" value="05/20"> <span class="fas fa-calendar-alt"></span>
                         </div>
                 </div>
             </div>
                         <div class="col-md-6"> <div class="d-flex flex-column pe-md-5 px-md-3 px-4 mb-4"> <span>CVV 번호</span>
                             <div class="inputWithIcon">
                                <input type="password" class="form-control" value="123"> <span class="fas fa-lock"></span>
                             </div>
                         </div>
         </div>
             <div class="col-12">
                 <div class="d-flex flex-column px-md-5 px-4 mb-4"> <span>이름</span>
                     <div class="inputWithIcon"> <input class="form-control text-uppercase" type="text" value="홍길동">
                        <span class="far fa-user"></span>
                     </div>
                 </div>
             </div>
                     <div class="col-12 px-md-5 px-4 mt-3">
                         <div class="btn btn-primary w-100">결제
                         </div>
                     </div>
                    </form>
            </div>
        </div>
    </div>
{% endblock %}